.Products{
    border: 2px solid white;
    margin: 0px 50px;
    padding: 50px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
    overflow: hidden;
}
@media(max-width:600px){
    
    .Products{
        margin:0;
    }
}